[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/liquid-carbon"]
	path = .vim/bundle/liquid-carbon
	url = https://github.com/vim-scripts/Liquid-Carbon.git
