[submodule ".vim/bundle/vim-ps1"]
	path = .vim/bundle/vim-ps1
	url = git@github.com:PProvost/vim-ps1.git
	ignore = dirty
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
	ignore = dirty
[submodule "powershell/modules/posh-git"]
	path = powershell/modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "powershell/modules/posh-hg"]
	path = powershell/modules/posh-hg
	url = https://github.com/JeremySkinner/posh-hg.git
[submodule "powershell/modules/posh-svn"]
	path = powershell/modules/posh-svn
	url = git@github.com:PProvost/posh-svn.git
	ignore = dirty
[submodule "powershell/modules/PowerTab"]
	path = powershell/modules/PowerTab
	url = git@github.com:PProvost/PowerTab.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule ".vim/bundle/sharp-indent"]
	path = .vim/bundle/sharp-indent
	url = git://github.com/PProvost/sharp-Indent.git
	ignore = dirty
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule ".vim/bundle/vim-markdown-jekyll"]
	path = .vim/bundle/vim-markdown-jekyll
	url = git@github.com:PProvost/vim-markdown-jekyll.git
	ignore = dirty
[submodule ".vim/bundle/vim-buffalo"]
	path = .vim/bundle/vim-buffalo
	url = git://github.com/Raimondi/vim-buffalo.git
[submodule ".vim/bundle/vimple"]
	path = .vim/bundle/vimple
	url = git://github.com/dahu/vimple.git
[submodule ".\\.vim\\bundle\\vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "powershell/modules/psake"]
	path = powershell/modules/psake
	url = https://github.com/psake/psake.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-mustache-handlebars"]
	path = .vim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/grunt.vim"]
	path = .vim/bundle/grunt.vim
	url = https://github.com/mklabs/grunt.vim.git

[submodule ".vim/bundle/vim-arduino-syntax"]
	path = .vim/bundle/vim-arduino-syntax
	url = https://github.com/sudar/vim-arduino-syntax.git
[submodule ".vim/bundle/groovyindent"]
	path = .vim/bundle/groovyindent
	url = https://github.com/vim-scripts/groovyindent.git
